{% extends 'base.html' %}

{% block content %}

<div class="container login-container">
    <h2 class="text-center mb-4">Login</h2>
    <form class="form-signin" method="post">
      {% csrf_token%}
      <div class="mb-3">
        <label for="username" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="username" placeholder="Seu e-mail" required name="username">
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Sua senha" required name="password">
      </div>
      <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
  </div>

{% endblock %}